<div class="container-fluid">
  <h1 class="h1">{{ title }}</h1>
  <div class="row">
    <div class="col">
      <!-- <app-basic></app-basic> -->
    </div>
    <div class="col">
      <app-binding
        [otherItems]="forBinding"
        [requiredItems]="forBinding2"
        (delete)="onDeleteFromBinding($event)"
        (updateRequest)="onUpdateFromBinding($event)"
      ></app-binding>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <app-builtInDirectives></app-builtInDirectives> -->
    </div>
    <div class="col">
      <!-- <app-piping></app-piping> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <app-favorite></app-favorite> -->
    </div>
    <div class="col"></div>
  </div>
</div>
